# General exclusions
HELP.md
.gradle
build/
bin/
out/

# Gradle-specific inclusions
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS-specific inclusions
.apt_generated
.sts4-cache

# IntelliJ IDEA-specific inclusions
.idea
*.iws
*.iml
*.ipr

# NetBeans-specific inclusions
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code-specific exclusion
.vscode/
